* {
	margin:0 auto;
	padding:0;
	vertical-align:baseline;
	outline:none;
	text-decoration:none;
	box-sizing:border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
	text-decoration:none;
}

ol, ul {
	list-style: none;
}

img, object, video {
	max-width:100%;
	height:auto;
}

iframe {
	max-width:100%;
}

img {
	vertical-align:middle;
}

object[type="application/gas-events-abn"] {
	display:none !important;
}

button,
textarea,
input {
     -webkit-appearance: none;
     border-radius: 0;
		 border: none;
		 background: none
}

strong, b {
	font-weight:bold;
}

i, em {
	font-style:italic
}

u {
	text-decoration:underline
}

p {
	display:block;
	margin:.7em 0
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
